body {
    overflow-x: hidden;
}
#yo {
    width: 12rem;
    border-radius: 50%;
    border: .2rem solid #fff;
}
#name {
    font-size: 3rem;
}
.no-pad-bot {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
}

.description {
    font-size: 2rem;
    font-weight: 100;
}
footer {
    width: 18rem;
    margin: 5rem auto;
}
footer a {
    width: 3rem;
    height: 3rem;
    background-size: 3rem !important;
    display: inline-block;
}
footer a.facebook {
    background: url('../img/facebook.svg');
}
footer a.twitter {
    background: url('../img/twitter.svg');
}
footer a.google {
    background: url('../img/google.svg');
}
footer a.linkedin {
    background: url('../img/linkedin.svg');
}
footer a.github {
    background: url('../img/github.svg');
}
